@charset "utf-8";

// fonts

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Bold.ttf') format('truetype');
  font-weight: 700;
}

// theme colors

$black: #171A21;
$black-bis: #2B2E35;
$black-ter: #404249;
$grey-darker: #54555E;
$grey-dark: #696972;
$grey: #7D7D86;
$grey-light: #92919A;
$grey-lighter: #A6A5AE;
$grey-lightest: #BBB9C2;
$white-ter: #CFCCD7;
$white-bis: #E4E0EB;
$white: #F8F4FF;
$blue: #09ACEC;
$pink: #F32BA3;
$yellow: #FFEF0A;
$primary: $blue;
$danger: $pink;
$link: $pink;
$link-visited: $pink;
$link-focus-border: $pink;

// variables

$body-overflow-x: initial;
$body-overflow-y: initial;

// typography

$size-1: 3.0625rem;
$size-2: 2.4375rem;
$size-3: 1.9375rem;
$size-4: 1.5625rem;
$size-7: 0.8rem;

$family-primary: "Roboto", BlinkMacSystemFont, -apple-system, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-secondary: "Raleway", BlinkMacSystemFont, -apple-system, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$gap: 24px;

// spacing
$spacing-values: ("0": 0, "small": 1.5rem, "medium": 3rem, "large": 4.5rem, "auto": auto);

@import "../node_modules/bulma/sass/utilities/_all";
@import "../node_modules/bulma/sass/base/_all";
@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";

// card
$card-shadow: 0 0.5em 1em -0.125em rgba($scheme-invert, 0.25), 0 0px 0 1px rgba($scheme-invert, 0.02);

@import "../node_modules/bulma/sass/components/card.sass";

$menu-item-color: $black;
$menu-item-hover-color: $black-bis;
$menu-item-hover-background-color: $white-bis;
$menu-item-active-background-color: $primary;
$menu-list-line-height: 1.5;
$menu-list-link-padding: 0.75rem;

@import "../node_modules/bulma/sass/components/menu.sass";

$dropdown-content-shadow: 0 0.5em 1em -0.125em rgba($scheme-invert, 0.25), 0 0px 0 1px rgba($scheme-invert, 0.02);

$dropdown-item-active-background-color: $primary;

@import "../node_modules/bulma/sass/components/dropdown.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/form/select.sass";
@import "../node_modules/bulma/sass/helpers/spacing.sass";
@import "../node_modules/bulma/sass/helpers/typography.sass";
@import "../node_modules/bulma/sass/helpers/color.sass";
@import "../node_modules/bulma/sass/helpers/visibility.sass";
@import "../node_modules/bulma/sass/helpers/flexbox.sass";

// status-bar

.status-bar {
  background-color: $primary;
  border-radius: $radius-large;
  color: $white;
}

.data-label {
  font-family: $family-secondary;
  font-size: 1rem;
  font-weight: 300;
}

.status-value, .data-value, .data-unit {
  font-family: $family-primary;
}

.status-value {
  font-size: $size-3;
  font-weight: 700;
  line-height: 3rem;
}

.data-value {
  font-size: $size-1;
  font-weight: 700;
  line-height: 4.5rem;
}

.data-unit {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

// search

.datetime-input {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 1px solid transparent;
  box-sizing: border-box;
  display: inline-flex;
  font-size: $size-2;
  height: 4.5rem;
  line-height: 4.5rem;
}

.search-bar .dropdown-item {
  font-size: $size-7;
}

// data-cards

.data-card {
  color: $black;
}
